[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=SnxConnect
Comment=Starts the SNX in a Shell
Type=Application
Exec=/home/wolf/bin/eclipse-oxygen-startup.sh
Icon=/blobs/user/pics/Icons/desktop/eclipse-oxygen-ligth.png
Name[de_DE]=Oxygen
Comment[de_DE]=Start Apache-Oxygen in a Shell
